@media only screen and (min-width:1024px){
	.content{
		max-width: 60vw;
	    margin: auto;
		font-size: 12;
	}
}

.header{
	text-align: left;
	margin-bottom: 6px;
}

#name{
	font-family: sans-serif;
	color: white;
	margin-bottom: 1vh;
}

.links{
	color: white;
	text-decoration: none;
}

.left{
	margin-bottom: 2vw;
	margin-left: 2vw;
}

.right{
	margin-bottom: 2vw;
	margin-left: 2vw;
}	

hr{
	margin: 0px;
}
	
@media only screen and (min-width: 1510px){
	.left{
		float:left;
		max-width: 2vw;
		margin-left: 2vw;
	}

	.right{
		float: right;
		max-width: 20vw;
	}	
}

.section{
	overflow: hidden;
}

.section-header{
	font-family: sans-serif;
	color: cornflowerblue;
	font-weight: 500;
}