#wrapper {
	margin:0 auto;
	width:1300px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

header {
	
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background:#072275;
	font:normal 28px/1.6em Arial, Helvetica, sans-serif;
	color:#FFFFFF;

}

p {
	margin:0;
	padding-right:15px;
	padding-left:10px;
}
.p1 {
	margin:0;
	padding-right:5px;
	padding-left:5px;
}

#main-content {
	margin:0 auto;
	width:900px;
	padding:0 30px 30px;
	float:left;
}


.nav-side {
	
	float:right;
	margin-right: 35px;
	margin-bottom:40px;
	
	
}

#footer {
	background:#072275;
	border-top:1px solid #f0e9eb;
	padding:10px 15px;
	clear:both;
	color:#ffffff;
}


h1 {
	color:#01103f;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 23px Georgia, serif;
	border-bottom:1px solid #efece7;
	
}

.text{
	color:#FFFFFF;
	margin-left:950px;
	margin-right:20px;
	padding-bottom:8px;
	padding-top:8px;
	font:bold 16px Arial, Helvetica, sans-serif;
	background:#072275;
	margin-bottom:10px;
}
.navigate{
	color:#000000;
	margin-left:950px;
	padding-bottom:6px;
	margin-right:20px;
	padding-top:6px;
	font:bold 14px Arial, Helvetica, sans-serif;
	background:#e2e9ff;
	border-bottom:2px solid #ffffff;
}
.change-embed-petition{
	margin-left:950px;
	margin-bottom:0px;
}
h2 {
	color:#000000;
	margin:20px 0 10px;
	padding-bottom:7px;
	font:normal 16px Georgia, serif;
	border-bottom:1px solid #efece7;
}

.li1{
	border-bottom:1px solid #efece7;
}

.ul1 {
	color:#FFFFFF;
	margin-left:720px;
	padding-bottom:8px;
	padding-top:8px;
	font:bold 16px Arial, Helvetica, sans-serif;
	background:#072275;
}

article {
	background:#eff3ff;
	border:1px solid #f0e9eb;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px:
}
.update{
	
	background:#5A7AF1;
	font:normal 18px/1.6em Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding-right:10px;
	text-align:left;
	padding-top: 1px;
	padding-left:3px;
	
	
	
}

#img-left {

	padding-left:7px;
}

#nav {
	background:#06a;
	padding:10px 7px;
	text-align:left;
	color:#f6dde3;
	margin-bottom:20px;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#fa7393;
}
.box-left{
	
	margin-top:10px;
	background:#ffffff;
	font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#000000;
	float:left;
	height: 300px;
    width: 30%;
	margin-left:5px;
	border-color:#5A7AF1;
	
}

#headtext{

	font:normal 15px/1.6em Arial, Helvetica, sans-serif;
	
}
.box-mid{
	
	margin-top:10px;
	background:#ffffff;
	font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#000000;
	margin-left: 307px;
	height: 300px;
    width: 30%;
	margin-bottom:20px;
	border-color:#5A7AF1;
	
}
.box-right{
	
	margin-top:10px;
	background:#ffffff;
	font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#000000;
	float:right;
	height: 300px;
    width: 30%;
	margin-bottom:20px;
	margin-right:8px;
	border-color:#5A7AF1;
}
.box-sub{
	
	margin-top:10px;
	background:#eff3ff;
	font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#000000;
	height: 80px;
    width: 90%;
	margin-bottom:10px;
	margin-right:5px;
	margin-left:7px;
}
#head-img{
	float:right;
	margin-top:10px;
	margin-right:15px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #072275;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.divf {
    border-radius: 10px;
    background-color: #eff3ff;
    padding: 20px;
}
